.header {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: start;
  justify-items: center;
  padding: 94px 0px 93px 0px;
  letter-spacing: 0.15px;
}

.header__menu {
  align-self: center;
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  font-size: 18px;
  justify-content: space-evenly;
}

.header__links-list {
  display: flex;
  flex-flow: row;
  gap: 28.5px;
  margin-left: 50px;
  white-space: nowrap;
}

.header__links-list-item {
  list-style: circle;
  margin-left: 2px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid;
  text-decoration: none;
  letter-spacing: 0.3px;
}

.header__link_active {
  padding-bottom: 1px;
  text-decoration: none;
}

.header__logo {
  justify-self: left;
  margin-left: 33px;
  max-height: 105px;
  max-width: 149px;
}

.header__logo-image {
  height: 105px;
  width: 149px;
}

.header__address {
  align-self: center;
  display: flex;
  flex-flow: column;
  font-size: 18px;
  font-style: normal;
  justify-self: center;
  line-height: 24.8px;
  margin-right: 45px;
  max-width: 240px;
  text-underline-offset: 4px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  position: relative;
  z-index: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  height: 100%;
  inset: 0px 0px 0px 0px;
  position: relative;
  right: 0;
  width: 100%;
  z-index: 0;
}

.no-letter-spacing {
  letter-spacing: 60px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 173px;
  position: relative;
  text-transform: uppercase;
  z-index: 0;
}

.aligned-text_center {
  justify-content: center;
  margin-top: 27px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  margin-top: 20px;
  text-align: right;
}

.aligned-text {
  display: flex;
  text-align: start;
}
 
.cover__description {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 81.5px;
  justify-self: flex-end;
  margin: 137px 50px 0px 0px;
  z-index: 0;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.1px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  height: 52px;
  text-align: center;
  text-transform: uppercase;
  width: 255px;
}

.lots {
  margin: 178px 0px 181px 0px;
  position: relative;
  z-index: 0;
}

.lots__heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 27px;
  margin-left: 63px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40;
  gap: 25px;
  justify-content: center;
  list-style: none;
}

.lots__card-list-item {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 334px;
  min-height: 462px;
  position: relative;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  align-items: center;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 57px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  min-height: 462px;
  position: relative;
  width: 316px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
}

.card__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.card__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-right: 3px;
}

.lots__look-more-link {
  border-bottom: 1px solid;
  display: inline-block;
  font-size: 20px;
  margin-left: 65px;
  margin-top: 28px;
  text-decoration: none;
}

.about {
  display: grid;
  gap: 91px;
  grid-template-columns: 290px 1fr;
  justify-items: center;
  margin-top: 180px;
  max-width: 1340px;
  place-content: center;
}

.about-column__left {
  display: grid;
  grid-column: 0;
}
.about-column__right {
  display: grid;
  grid-column: 0;
}

.about__logo {
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  height: 240px;
  justify-content: center;
  margin-left: 95px;
  width: 240px;
}

.about__logo-image {
  max-width: 148px;
  min-height: 114px;
}

.about__title {
  display: block;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 75px;
  margin-top: 102px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.9px;
  margin: 26px 24px 0px 1px;
  letter-spacing: 0.06px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 90px;
  margin-top: 181px;
  text-decoration: none;
}

.footer__address {
  font-size: 18px;
  font-style: normal;
  line-height: 24.2px;
  margin-left: 50px;
  max-width: 240px;
  min-width: 240px;
  text-underline-offset: 4px;
}

.footer__menu {
  color: #000;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  justify-self: center;
  line-height: 21px;
  list-style: none;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: flex-end;
  list-style: none;
  margin-right: 50px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}